<ion-card>
    <ion-card-header>
        Dispositivo 1
    </ion-card-header>
    <ion-card-content>
        <ion-item>
            <ion-label>Dispositivo:</ion-label>
            <ion-select [(ngModel)]="selectedDevice" id="dispositivi" (ngModelChange)="deviceFunctions($event)" value="" required>
                <ion-option *ngFor="let dev of devices" value="{{dev.id}}">{{dev.id}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>Funzioni:</ion-label>
            <ion-select [(ngModel)]="selectedFunctions" multiple="true" id="funzioni" required>
                <ion-option *ngFor="let fun of functions" value="idFunc={{fun.id}}">{{fun.descrizione}}</ion-option>
            </ion-select>
        </ion-item>
        <button ion-button color="secondary" id="button1" (click)="requestInfosByFunctions()">Esegui</button>
        <ion-item-group>
            <ion-item *ngFor="let res of requestResults">{{res.RequestName}}: {{res.RequestData}}</ion-item>
        </ion-item-group>
    </ion-card-content>
</ion-card>